<div class = "row">
	<div class = "col-sm-12">
		<app-header></app-header>
	</div>
</div>

<router-outlet></router-outlet>
<hr>
<div>
<div class = "container">
	<div class = "row">
		<div class = "col-sm-12">
     <button class = "btn btn-primary" (click) = "new()" *ngIf = "this.auth.isAuth()" >Create New Post</button>
        </div>
    </div>
</div>
<hr>
<div class = "container">
	<div class = "row">
		<div class = "col-sm-12">
			
      <div *ngFor = "let post of service.posts" >
          <div class = "well">
          	
             <h3 align ="center" >{{post.title}}</h3>
             <h4 align = "center" class = "text-info">{{post.user}}</h4>
             <hr>
            
        <p>{{post.description}}</p>
        <hr>
        <div class = "row">
        <div class = "col-sm-4">
        <button class = "btn btn-primary" (click) = "onLike(post)" [disabled]="isLiked(post)" *ngIf = "auth.isAuth()">Like</button>
        <h6>{{post.likes}}:Likes</h6>
    </div>
    
        <div class = "col-sm-8">
        	
        </div>
    </div>
     <div class = "row">
     	<div class ="col-sm-12">
     		
     		
     	</div>
     </div>

           </div>
           <hr>
           </div>
        </div>
    </div>
</div>
<hr>
</div>




